<html>
<head>
    <title>Stadia Maps + Flask + MongoDB Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/mapbox-gl/0.52.0/mapbox-gl.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/mapbox-gl/0.52.0/mapbox-gl.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/styles/map.css" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta id="my-data" data-name="{{ street_trees_points }}">
</head>
<body>
    <h1>
        Stadia Maps + Flask + MongoDB Demo
    </h1>
  <div id="map"></div>
    <script>
     var map = new mapboxgl.Map({
       container: 'map',
       style: 'https://tiles.stadiamaps.com/styles/alidade_smooth.json',  // Theme URL; see our themes documentation for more options
       center: [-75.144867, 39.952278],  // Initial focus coordinate
       zoom: 16
     });

     // Mapbox GL JS has a bug in it's handling of RTL, so we have to grab this dependency as well until they
     // combine it with the main library
     mapboxgl.setRTLTextPlugin('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.1/mapbox-gl-rtl-text.js');

     // Add zoom and rotation controls to the map.
     map.addControl(new mapboxgl.NavigationControl());

     var mongoData = $('#my-data').data();
     var markerCollection = mongoData.name[0];

        // Next, we can add markers to the map
        markerCollection.features.forEach(function(point) {
            // Since these are HTML markers, we create a DOM element first, which we will later
            // pass to the Marker constructor.
            var elem = document.createElement('div');
            elem.className = 'marker';

            // Now, we construct a marker and set it's coordinates from the GeoJSON. Note the coordinate order.
            var marker = new mapboxgl.Marker(elem);
            marker.setLngLat(point.geometry.coordinates);

            // You can also create a popup that gets shown when you click on a marker. You can style this using
            // CSS as well if you so desire. A minimal example is shown. The offset will depend on the height of your image.
            var popup = new mapboxgl.Popup({ offset: 24, closeButton: false });
            popup.setHTML('<div>' + point.properties.title + '</div>');

            // Set the marker's popup.
            marker.setPopup(popup);

            // Finally, we add the marker to the map.
            marker.addTo(map);
        });
    </script>
</body>
</html>